.bg-nav {
	background-color: #291E60 !important
}
body{
        background: url(../images/backgrounds/abc.png) no-repeat center center fixed; 
        background-color: rgba(255,255,255,0.8);
        background-blend-mode: lighten;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
/* body{
    background-image:url("../images/backgrounds/abc.png");
    background-position: center;
    background-size: cover;
    position: relative;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */
/* .body-back-opacity{
    background: rgba(255, 255, 255, 0.7);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */
.page-content{
    position: relative;
    overflow: hidden;
    margin: auto;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 50px;
    /* border: 1px solid #dbdbdb; */
    box-shadow: 0px 0px 10px #949494;
}
.page-content .page-title{
    background-color: #29AAE1;
    position: relative;
}
.page-content .page-title .page-back-arrow{
    color: #fff;
    font-size: 33px;
    position: absolute;
    left: 12px;
}
.page-content .page-title .page-back-arrow:hover{
    color: rgb(109, 103, 103);
}
.page-content .page-title h1{
    color: #fff;
    display:inline-block;
    /* font not available */
    /* font-family: janda manate solid; */
}
.page-body{
    background-color: #fafafa;
    padding: 15px 15px;
    
}
.page-body .row{
    background-color: #f5f5f5;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 7px 7px;
    margin: 0px;
}
.page-body .row .col-md-3 {
    padding: 10px 10px;
    margin: 0px 0px;
}
.page-body .row .col-md-3 .button{
    border: 1px solid #d6d6d6;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #969696;
    padding: 20px;
}
.page-body .row .col-md-3 img{
    width: 120px;
    height:120px; 
}
.page-body .row .col-md-3 h3{
    font-size: 15px;
}